@use '../abstracts/_variables' as *;

/** Breakpoints */


$breakpoints: (
  xs: 480px,   // Extra small devices (phones)
  sm: 600px,   // Small devices (large phones / small tablets)
  md: 768px,   // Medium devices (tablets)
  lg: 992px,   // Large devices (small laptops)
  xl: 1200px,  // Extra large devices (desktops)
  xxl: 1440px, // Very large screens (wide monitors)
  xxxl: 1920px // Ultra-wide / HD displays
);