@use '../abstracts/_variables' as *;



$container-themes: (
  light: (background: $color-light, text: $color-dark),
  dark: (background: $color-dark, text: $color-light),
  primary: (background: $color-primary, text: $color-white),
  surface: (background: $color-surface, text: $color-text)
);