<div class="container">
   

</div>
<div class="container">
    <div class="h1">
        This is a Heading 1
    </div>

    <div class="h2">
        This is a Heading 2
    </div>

    <div class="h3">
        This is a Heading 3
    </div>

    <div class="h4">
        This is a Heading 4
    </div>

    <div class="h5">
        This is a Heading 5
    </div>

    <div class="h6">
        This is a Heading 6
    </div>
</div>

<div class="container"> 
    <div class="display-1">This is a display 1</div>
    <div class="display-2">This is a display 2</div>
    <div class="display-3">This is a display 3</div>
</div>

<div class="container"> 
    <div class="subtitle-1">
        This is a subtitle 1
    </div>
    <div class="subtitle-2">This is a subtitle 2</div>
</div>  

<div class="contain">
    
</div>


<div class="label"> This is a label</div>

<div class="helper">This is a helper</div>

<div class="code">This is a code</div>

<div class="blockqoute">This is a blockqoute</div>

<div class="link">This is a link</div>

<div class="nav">This is a nav</div>

<div class="badge">This is a badge</div>

<div class="container">
    <p>Structural and semantic text elements</p>
    <p>Headings</p>
    <h1>This is a Heading 1</h1>
    <h2>This is a Heading 2</h2>
    <h3>This is a Heading 3</h3>
    <h4>This is a Heading 4</h4>
    <h5>This is a Heading 5</h5>
    <h6>This is a Heading 6</h6>

</div>

<div class="container">
    <p>This is a paragraph</p>
    <a href="#">This is a link</a>
    <blockquote>This is a blockquote</blockquote>
    <q>This is a quote</q>
    <pre>This is a pre</pre>
    <address>This is an address</address>
    <abbr title="This is an abbreviation"> this is an abbr </abbr> <br>
    <cite>this is a cite</cite> <br>
    <time datetime="2021-01-01">2021 01 01  </time><br>
    <dfn>this is a dfn</dfn> <br>

    <p>Inline formatting and emphasis</p>

    <b>this is a bold</b><br>
    <strong>this is a strong</strong><br>
    <i>this is an italic</i><br>
    <em>this is an emphasis</em><br>
    <mark>this is a mark</mark><br>
    <small>this is a small</small><br>
    <del>this is a deleted</del><br>
    <ins>this is an inserted</ins><br>
    <sub>this is a sub</sub><br>
    <sup>this is a sup</sup><br>
    <ins>this is an inserted</ins><br>
    <del>this is a deleted</del><br>
    <u>this is an underline</u><br>
    <s>this is a strikethrough</s><br>
    <span>this is a span</span><br>


</div>
