<div class="container">
    <p>Headings</p>
    <h1>This is a Heading 1</h1>
    <h2>This is a Heading 2</h2>
    <h3>This is a Heading 3</h3>
    <h4>This is a Heading 4</h4>
    <h5>This is a Heading 5</h5>
    <h6>This is a Heading 6</h6>

</div>
<div class="container">
    <div class="h1">
        This is a Heading 1
    </div>

    <div class="h2">
        This is a Heading 2
    </div>

    <div class="h3">
        This is a Heading 3
    </div>

    <div class="h4">
        This is a Heading 4
    </div>

    <div class="h5">
        This is a Heading 5
    </div>

    <div class="h6">
        This is a Heading 6
    </div>
</div>

<div class="container"> 
    <div class="display-1">This is a display 1</div>
    <div class="display-2">This is a display 2</div>
    <div class="display-3">This is a display 3</div>
</div>

<div class="container"> 
    <div class="subtitle-1">
        This is a subtitle 1
    </div>
    <div class="subtitle-2">This is a subtitle 2</div>
</div>  

<div class="contain">
    
</div>


<div class="label"> This is a label</div>

<div class="helper">This is a helper</div>

<div class="code">This is a code</div>

<div class="blockqoute">This is a blockqoute</div>

<div class="link">This is a link</div>

<div class="nav">This is a nav</div>

<div class="badge">This is a badge</div>
