<header class="header light">
  <div class="logo">Theme_3</div>
  <nav class="nav">
    <ul>
      <li><a href="./">Home</a></li>
      <li class="dropdown">
        <a href="#">Typography ▾</a>
        <ul class="dropdown-menu">
          <li><a href="typographyHeadings.html">Headings</a></li>
          <li><a href="#">Development</a></li>
          <li><a href="#">SEO</a></li>
        </ul>
      </li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>