<header class="dark">
    <div class="nav-side" id="navSide">
             <span></span>
        <span></span>
        <span></span>
   </div>
  <div class="logo">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Empty.png" alt="Logo">
    <span>RonTea</span>
  </div>
  <nav >
    <div class="dropdown">
      <a href="#">Home</a>
      <div class="dropdown-content">
        <a href="#">Home Style 1</a>
        <a href="#">Home Style 2</a>
      </div>
    </div>
    <a href="#">About</a>
    <div class="dropdown">
      <a href="#">Works</a>
      <div class="dropdown-content">
        <a href="#">Portfolio</a>
        <a href="#">Projects</a>
      </div>
    </div>
    <div class="dropdown">
      <a href="#">Services</a>
      <div class="dropdown-content">
        <a href="#">Service Details</a>
      </div>
    </div>
    <a href="#">Blog</a>
    <a href="#">Contact</a>
  </nav>

  <div class="header-right">
    <button class="login-btn">Login →</button>
   
       <div class="menu-icon" id="menuIcon">
         
        <span></span>
        
        <i> I </i>
         <span> </span>
        
      </div>
            
      </div>
    </div>
  </div>
</header>
<div class="side-info" id="sideInfo">
 
</div>

<!-- MOBILE SIDE MENU -->
<div class="side-menu dark" id="sideMenu">
  <ul class="side-links">
    <li class="has-submenu">
      <div class="submenu-toggle">Home <span>+</span> </div>
      <ul class="submenu">
        <li><a href="#">Home Style 1</a></li>
        <li><a href="#">Home Style 2</a></li>
      </ul>
    </li>
    <li><a href="#">About</a></li>
    <li class="has-submenu">
      <div class="submenu-toggle">Works <span>+</span></div>
      <ul class="submenu">
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Projects</a></li>
      </ul>
    </li>
    <li class="has-submenu">
      <div class="submenu-toggle">Services <span>+</span></div>
      <ul class="submenu">
        <li><a href="#">Service Details</a></li>
      </ul>
    </li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>
